*{
    margin: 0%;
    padding: 0%;
}
body{
    background: url("./images/lidye-1Shk_PkNkNw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.parent{
    height: 430px;
      /* background-color: rgb(228, 22, 22);   */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     align-items: center; 
    opacity: 1;
    margin-top: 1rem;
}
.col{
    height: 408px;
    width: 310px;
    /* background-color: white; */
    /* border-radius: 103px; */
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    /* box-shadow: 10px 10px grey; */
opacity: .8;
    
}
.col:hover{
box-shadow: 12px 12px 2px 1px rgba(198, 198, 211, 0.932);

}

img{
    height: 199px;
    width: 295px; 
    border-radius: 40px;
}

.col button{
    height: 39px;
    width: 100px;
    border-radius: 41px;
    background-color: gray;
    color: white;
    margin-top: 1rem;
}
button:hover{
    background-color:white;
    color:gray;
}
h1{
    width: 100%;
    text-align: center;
    background-color: gray;
    font-style: oblique;
    
}
p{
    font-size: 18px;
    color: white;
    
}

